body,h1{
    margin: 0px;
}
#navBar{
    width: 100%;
    height: 100px;
    background-color: #66A4FF;
    color: white;
    letter-spacing: 3px;
    box-shadow: 0 0 5px #66A4FF,
    0 0 15px #66A4FF,
    0 0 30px #66A4FF,
    0 0 60px #66A4FF;
}

button{
    
    background-color: #A52A2A;
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 12px;
    margin: 0px 20px;
    border: none;
    transition: 0.5s;
}
button:hover{
    background-color: green;
    letter-spacing: 1px;
}
.userInput{
    padding: 20px 10px;
}
a{
    width: 70%;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 50px;
}
a:hover{
    letter-spacing: 3px;
    transition: 0.5s;
}
#footer{
    background-color: #66A4FF;
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    box-shadow: 0 0 5px #66A4FF,
    0 0 15px #66A4FF,
    0 0 30px #66A4FF,
    0 0 60px #66A4FF;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}
.navRightMenu{
    float: right;
    margin: 10px;
    margin-top: 20px;
}
.menuButton{
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.active{
    background-color: green;
}
img{
    width: 20%;
    height: 260px;
    margin-top: 70px;
    margin-left: 60px;
    border-radius: 20%;
}
.contentHeader{
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 60px;
    margin-right: 60px;
    text-align: center;
    border-radius: 2%;
    background-color: rgb(204, 199, 199);
}
.contentHeader:hover{
    background-color: #66A4FF;
    letter-spacing: 3px;
    transition: 0.9s;
}
.footerMenu{
    margin-top: 20px;
}
/* add style for mobile view for class navRightMenu */
@media only screen and (max-width: 400px) {
    #navBar{
        height: 120px;
    }
    .menuButton{
        padding: 0px 10px;
        font-size: 12px;
    }
    a {
        padding: 8px;
        float: right;
    }
    button{
        margin: 0px 2px;
    }
    .logo{
        display: block;
        width: 20%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
    }
    .navRightMenu{
        width: 90%;
        margin: 0px 10px;
    }
    .img{
        width: 100%;
        height: 260px;
        margin-top: 20px;
        margin-left: -10px;
    }
    .contentHeader{
        width: 50%;
        height: 374px;
        float: right;
        margin-top: 20px;
        margin-right: 16px;
    }
}
/* responsive design */

