body,h1{
    margin: 0px;
}
#navBar{
    width: 100%;
    height: 100px;
    background-color: #66A4FF;
    color: white;
    letter-spacing: 3px;
    box-shadow: 0 0 5px #66A4FF,
    0 0 15px #66A4FF,
    0 0 30px #66A4FF,
    0 0 60px #66A4FF;
}

button{
    
    background-color: #322728;
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    margin: 0px 20px;
}
a{
    width: 70%;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 50px 0px;
}
button:hover{
    letter-spacing: 3px;
    transition: 0.5s;
}
#footer{
    background-color: #66A4FF;
    text-align: right;
    margin: 0px;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    box-shadow: 0 0 5px #66A4FF,
    0 0 15px #66A4FF,
    0 0 30px #66A4FF,
    0 0 60px #66A4FF;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}
.navRightMenu{
    float: right;
    margin: 10px;
    margin-top: 20px;
}
.menuButton{
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.menuButton:active{
    background-color: blue;
}
.active{
    background-color: green;
}
